body {
    font-family: Arial, sans-serif;
    background-image: url('/to-do-list/bg-01.jpg');
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-attachment: scroll; /* Ensures the background image scrolls with the content */
    background-position: center; /* Centers the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 50px; /* Equal to footer height */
    box-sizing: border-box;
    margin: 0;
  }

  .container {
    background-color: rgb(249, 126, 31);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(33, 32, 32, 0.375);
    width: 300px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .task {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
